*{
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue';
}
html{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)), url(img/pexels-markus-spiske-105861.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    top: 0;
    background: transparent;
    transition: 0.5s;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.2s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 70px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    padding: 15px 40px;
    font-size: 24px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}
.hero-btn:hover{
    border: 2px solid #b86200;
    background: #b86200;
    transition: 0.5s;
    color: #fff;
}
.pasteries{
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url(img/wepik-export-20231215175325GmSQ.png);
        background-size: cover;
        position: relative;
        overflow: hidden;
      }
    
.pasteries .header-pasteries{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    top:10%;
}
.cards{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.card {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.card h3 {
    font-size: 40px;
    margin: 10px 0;
    color: #333;
}
.card a {
    position: relative;
    color: #333; 
    text-decoration: none;
    align-self: flex-end;
    align-items: flex-end;
    margin-top: auto;
    right: 35%;
    margin: 20px;
    font-size: 19px;
}
.card p{
    font-size: 19px;
}
.card a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #333; 
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.ingredients {
    padding: 0;
    margin-bottom: 50px;
    position: relative;
    top: 0;
    left: 0;
}
.ingredients-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ingredients-img{
    flex:2 2 60%;
    max-width: 45%;
    padding: 20px;
}
.ingredients-img img{
    width: 100%;
    margin: 0;
    padding: 0;
}
.text-ingredients{
    flex: 1 1 40px;
    max-width: 40%;
    padding: 50px;
}
.text-ingredients p{
    font-size: 24px;
    margin: 30px;
    transform: translate(5%,80%) !important;
}
.text-ingredients h2 {
    font-size: 60px;
    transform: translate(16%,200%) !important;
}
.hero-btnn{
    top: 30%;
    left: 25%;
    display: inline-block;
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    padding: 15px 40px;
    font-size: 24px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
}
.hero-btnn:hover{
    border: 2px solid #b86200;
    background: #b86200;
    transition: 0.5s;
    color: #fff;
}
.featured {
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)), url(img/wepik-export-20231215214619UjNR.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}
.featured .header-featured{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    top:10%;
}
.featured h2 {
    margin-bottom: 40px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card-card {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.07);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    width: 350px;
    height: 200px;
    transition: transform 0.5s, box-shadow 0.5s;
}
.card-card:hover {
    transform: scale(1.1); 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6); 
}
.card-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-card h3 {
    position: absolute;
    color: #b86200;
    font-size: 24px;
}

.card-card p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 18px;
}
.menuu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh 0 0 0;
}
.menu-text{
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
    margin: 10vh 0 0 0;
}
.hero-button{
    top: 30%;
    left: 39.5%;
    text-decoration: none;
    color: #333;
    border: 3px solid #333;
    padding: 15px 40px;
    font-size: 24px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 25px;
    transition: 0.3s;
    background: #fff;
}
.hero-button:hover{
    border: 2px solid #b86200;
    background: #b86200;
    transition: 0.5s;
    color: #fff;
}
.menu-text h2{
    font-size: 60px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.menuu img{
    width: 65%;
    height: 90vh;
    padding: 10vh 0 0 0;
}
.menu-title{
    width: 100%;
    text-align: center;
    top: 50%;
}
.customer{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)), url(img/rye-sliced-bread-table.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.cards1{
    position: absolute;
    top: 150px;
    left: 150px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.card1 {
    background-color: #f8921d;
    padding: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 340px;
    justify-content: center;
}
.card1 h3 {
    font-size: 40px;
    margin: 50px 0 5px;
    color: #fff;
}
.card1 p{
    font-size: 19px;
    color: #fff;
}
.customer-text{
    color: #fff;
    text-decoration: none;
    font-size: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    right: 1%;
    top: 30px;
}
.circle-container {
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    bottom: 22%;
    right: 28%;
}

.circle-container:before,
.circle-container:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
}
.comma {
    position: absolute;
    font-size: 16px;
    color: #000;
    left: 35px;
    top: 45px;
}
.circle-container .comma:before,
.circle-container .comma:after {
    content: ",";
    position: absolute;
    font-size: 200px;
    color: #f8921d;
    transform: rotate(180deg);
}
.circle-container .comma:before {
    bottom: -195px;
    left: 15px;
    z-index: 2;
}

.circle-container .comma:after {
    bottom: -195px;
    left: -20px;
    z-index: 2;
}
.contact{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)), url(img/paper-bag-with-bread-basket-pastry-removebg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-text p{
    font-size: 60px;
    max-width: 100%;
    position: absolute;
    left: 50%;
    top: 150px;
}
.contact-form-text{
    font-size: 24px;
    position: absolute;
    left: 42%;
    top: 250px;
}
.contact-form-text1{
    font-size: 24px;
    position: absolute;
    left: 57.5%;
    top: 250px;
}
.contact form{
    position: absolute;
    left: 41%;
    top:274px;
    max-width: 600px;
    width: 100%;
}
.contact form input[type="email"],
.contact form input[type="text"] {
    font-size: 18px;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 290px;
}
.contact form button[type="submit"] {
    font-size: 18px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    width: 585px;
    margin-top: 15px;
}
.find-us-text{
    font-size: 30px;
    position: absolute;
    top: 68%;
    left: 47%;
}
.location{
    font-size: 24px;
    position: absolute;
    top: 77%;
    left: 47%;
}
.hours{
    font-size: 30px;
    position: absolute;
    top: 68%;
    left: 60%;
}
.hours-text{
    font-size: 24px;
    position: absolute;
    top: 77%;
    left: 60%;
}
.hours-text h2{
    font-size: 22px;
}
.hours-text p{
    font-size: 20px;
}
.call-us{
    font-size: 30px;
    position: absolute;
    top: 68%;
    left: 72%;
}
.call-us-text{
    font-size: 24px;
    position: absolute;
    left: 72%;
    top: 77%;
}
.call-us-text1{
    font-size: 24px;
    position: absolute;
    left: 72%;
    top: 82%;
}
.grey{
    background-color: grey;
    
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .text-box p{
        margin: 10px 0 40px;
        font-size: 14px;
        color: #fff;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        color: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: 0%;
        text-align: left;
        z-index: 2;
    }
}